@import "../style.css";

form {
    margin: 15px;
    border: 2px solid black;
    padding-top: 30px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

input, button {
    font-size: .7em;
    width: 60%;
    height: 2em;
    display: inline-block;
    margin-bottom:30px;
    text-align: center;
}

p {
    margin: 2px;
}