* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    font-size: x-large;
    text-align: center;
    background-color: #f1c40f;
}

header {
    font-weight: bold;
    margin: 30px 5px;
}

@media (min-width: 700px) {
    header {
        font-size: 2em;
    }
}

section {
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 700px) {
    section {
        width: 60%;
    }
}

.typeWriter::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

ol {
    display: inline-block;
    margin: 40px;
}

li {
    margin-bottom: 10px;
}