@import "../style.css";

section {
    border: 2px solid black;
    display: grid;
    font-size: larger;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 30px;
    width: 250px;
    height: 300px;
}

section button {
    font-size: larger;
}

.viewer {
    align-self: center;
    grid-column-start: 3;
    grid-column-end: 5;
}
